.button {
  width: 100%;
  background: var(--green-500);
  padding: 0.7rem;
  border-radius: 8px;
  color: var(--white);

  font-size: 0.8rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  img {
    overflow: visible;
  }

  cursor: pointer;
}

.button:hover {
  background: var(--green-700);
}
